WeatherClientDemo/Service References/WeatherService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="base" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clouds" nillable="true" type="tns:Clouds" />
      <xs:element minOccurs="0" name="cod" type="xs:int" />
      <xs:element minOccurs="0" name="coord" nillable="true" type="tns:Coord" />
      <xs:element minOccurs="0" name="dt" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="main" nillable="true" type="tns:Main" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sys" nillable="true" type="tns:Sys" />
      <xs:element minOccurs="0" name="weather" nillable="true" type="tns:ArrayOfInfo" />
      <xs:element minOccurs="0" name="wind" nillable="true" type="tns:Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
  <xs:complexType name="Clouds">
    <xs:sequence>
      <xs:element minOccurs="0" name="all" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clouds" nillable="true" type="tns:Clouds" />
  <xs:complexType name="Coord">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coord" nillable="true" type="tns:Coord" />
  <xs:complexType name="Main">
    <xs:sequence>
      <xs:element minOccurs="0" name="humidity" type="xs:int" />
      <xs:element minOccurs="0" name="pressure" type="xs:int" />
      <xs:element minOccurs="0" name="temp" type="xs:double" />
      <xs:element minOccurs="0" name="temp_max" type="xs:double" />
      <xs:element minOccurs="0" name="temp_min" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Main" nillable="true" type="tns:Main" />
  <xs:complexType name="Sys">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:double" />
      <xs:element minOccurs="0" name="sunrise" type="xs:int" />
      <xs:element minOccurs="0" name="sunset" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sys" nillable="true" type="tns:Sys" />
  <xs:complexType name="ArrayOfInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfo" nillable="true" type="tns:ArrayOfInfo" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="main" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="Wind">
    <xs:sequence>
      <xs:element minOccurs="0" name="deg" type="xs:double" />
      <xs:element minOccurs="0" name="speed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wind" nillable="true" type="tns:Wind" />
</xs:schema>