WeatherClientDemo/Service References/WeatherService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Base" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cloud" nillable="true" type="tns:Clouds" />
      <xs:element minOccurs="0" name="Coord" nillable="true" type="tns:Coord" />
      <xs:element minOccurs="0" name="Dt" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Infos" nillable="true" type="tns:ArrayOfInfo" />
      <xs:element minOccurs="0" name="Main" nillable="true" type="tns:Main" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="Sys" nillable="true" type="tns:Sys" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="tns:Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
  <xs:complexType name="Clouds">
    <xs:sequence>
      <xs:element minOccurs="0" name="All" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clouds" nillable="true" type="tns:Clouds" />
  <xs:complexType name="Coord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coord" nillable="true" type="tns:Coord" />
  <xs:complexType name="ArrayOfInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfo" nillable="true" type="tns:ArrayOfInfo" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Main" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="Main">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:int" />
      <xs:element minOccurs="0" name="Pressure" type="xs:int" />
      <xs:element minOccurs="0" name="Temp" type="xs:double" />
      <xs:element minOccurs="0" name="Temp_max" type="xs:double" />
      <xs:element minOccurs="0" name="Temp_min" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Main" nillable="true" type="tns:Main" />
  <xs:complexType name="Sys">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" type="xs:double" />
      <xs:element minOccurs="0" name="Sunrise" type="xs:int" />
      <xs:element minOccurs="0" name="Sunset" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sys" nillable="true" type="tns:Sys" />
  <xs:complexType name="Wind">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deg" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wind" nillable="true" type="tns:Wind" />
</xs:schema>